body
{
    min-width: 1300px;
    overflow-horizontal:hidden;
    margin-top:20px;
}
#nav
{
    list-style: none;
    font-size: 20px;
    margin-top:20px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 15px;
    border: solid black 2px;
    box-sizing: border-box;
    width:200px;
    position: static;
}
#nav a{
    text-decoration: solid;
    float: inline-start;
}
#nav a:link{
    color:royalblue;
}
#nav a:visited
{
    color:royalblue;
}
#name
{
    margin-top:-130px;
    margin-left: 320px;
    margin-right:200px;
    text-size:20px;
}
#des
{
    margin-top:-10px;
    margin-left: 310px;
}
#clg
{
    margin-top:-5px;
    margin-left: 365px;
}
#logo
{
    margin-top:-130px;
    float: left;
    margin-left: 650px;
}
#sep
{
    margin-left: 230px;
    margin-top:25px;
    margin-right:400px
}

#Content
{
    margin-right:70px;
    margin-left: 230px;
    text-align: justify;
    text-justify: inter-word;

}

